/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/uploads/memes/*
!/web/uploads/memes/.gitkeep
/web/js/*
!/web/js/scripts.js
/web/css/*
!/web/css/styles.css
/nbproject/
/.idea/
/node_modules/
composer.lock
*.php~
dump.sql
debug.txt
/build/
tests/_output/*
