{% extends 'MemyCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>Meme creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
